<!DOCTYPE html>
<html>
  <head>
    <h1>About US</h1>
    <link rel= "stylesheet" href="{{url_for('static', filename='about.css')}}">
  </head>
<body>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <a href="/">
      <button class="btn"><i class="fa fa-home"></i></button>
  </a>

    <p>This website provides information about the US national adults' opinions toward questions regarding reproductive health.</p>
    <p>The data in our website is based on a telephone interview with the sample consisting of national adults in the United States.</p>
    <p>Functions in the website allow users to see the results of specific questions in this study by demographic values. </p>
    <h2>Data source</h2>
    <p id="link">Main: <a href=https://ropercenter.cornell.edu/ipoll/study/31118270">Roper iPoll October 2020 Birth Control Survey </a></p>
    <p>Power to Decide (the National Campaign to Prevent Teen and Unplanned Pregnancy). Power to Decide: October 2020 Birth Control Survey, 2020 [Dataset]. Roper #31118270, Version 3. SSRS [producer]. Cornell University, Ithaca, NY: Roper Center for Public Opinion Research [distributor]. doi:10.25940/ROPER-31118270</p>

   
  

</body>
</html>