<!DOCTYPE html>
<html>
<head>
    <title>Birth Control Access By Demographics</title>
    <link rel= "stylesheet" href="{{url_for('static', filename='access.css')}}">
</head>
<body>
    <h1>Look Up For Birth Control Access</h1>

    <p> Here are some demographic ideas to input:</p>
    <p>* state abbreviation (ex. MN, MA, HI)</p>
    <p>* religion (ex. Hindu, Protestant, Jewish/Judaism, etc.)</p>
    <p>* education level:
        - Two year associate degree from a college or university\
        - High school graduate (Grade 12 with diploma or GED certificate)</p>

    <form action="/birth-control-access" method="post">
        <label for="demographic">Enter a demographic value:</label>
        <input type="text" name="demographic" id="demographic" required>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
