<!DOCTYPE html>
<html>
  <head>
    <h1>Reproductive Health in the United States</h1>
    <link rel= "stylesheet" href="{{url_for('static', filename='homepage.css')}}">
    <script src="https://kit.fontawesome.com/9bc1be7f9d.js" crossorigin="anonymous"></script>
  </head>
<body>
  
  <div class="button-container">
    <a href="birth-control-use" target="_blank">
        <button>Birth Control Use</button>
    </a>
    <br>
  </div>
  <div class="button-container">
    <a href="birth-control-access" target="_blank">
        <button type="button">Birth Control Access</button>
    </a>
  </div>
  <div class="button-container">
    <a href="about" target="_blank">
        <button type="button">About</button>
    </a>
    
  <i class="fa-solid fa-venus"></i>

</body>
</html>
