<!DOCTYPE html>
<html>
  <head>
    <h1>Page Not Found</h1>
    <link rel= "stylesheet" href="{{url_for('static', filename='notFound.css')}}">
  </head>
<body>
  <div class="navbar">
    <a href="/">Home</a>
  </div>
  <p>The page you are looking for does not exist.</p>
  <p>On the homepage, please click buttons to search for the corresponding information.</p>
  <p>On the search page, please make sure the spelling is correct. If you follow these directions and encounter an empty list, your demographic is not included in the dataset.</p>
  

</body>
</html>