<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <link rel="stylesheet" href="{{url_for('static', filename='search.css')}}">
</head>
<body>
    <h1>{{header}}</h1>
    
    <div class="container">
        <p id="description">{{description}}</p>
    </div>
    
    <div class="searchbox">
        <form action="/birth-control-use" method="post">
            <select name="category">
                <option value="Religion">Religion</option>
                <option value="PoliticalParty">Political Party</option>
            </select>
            <input type="submit" value="Search">
        </form>
    </div>
</body>
</html>
